<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Break Even</title>
</head>
<body>
  <div class="div_top">
  <h1>Edit Day</h1>
</div>

<div class="form">
  <%= form_for [@day, @exercise] do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :quantity %><br>
    <%= f.date_field :quantity %>
  </p>
  <p>
    <%= f.label :calorie%><br>
    <%= f.text_field :calorie %>
  </p>
  <p>
    <%= f.submit "Update", :class => "form-button" %>
  </p>
  <% end %>
  <%= form_for [@day, @exercise], method: :delete do |f| %>
  <%= f.submit "Delete", :class => "form-button" %>
  <% end %>
</div>
</body>
</html>
